@use './base.css';
@use 'primeflex/primeflex.css';
@import 'prime.css';

#app {
	max-width: 1280px;
	margin: 0 auto;
}

b,
.text-bold {
	font-weight: 600;
}

.text-semibold {
	font-weight: 500;
}
 
a,
.green {
	text-decoration: none;
	color: #4ccd8d;
	transition: 0.4s;
}


.bg {
	background-color: var(--color-background);
}

body.prevent-scroll {
	overflow: hidden;
}

body:not(.touch) .hover-show-trigger .hover-show {
	display: none;
}

body .hover-show-trigger:hover .hover-show {
	display: block;
}



@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.square {
	aspect-ratio: 1;
}

.nowrap {
	white-space: nowrap;
}


/* FORM ROWS */
.details-rows {
	.row {
		display: flex;
		align-items: top;
		gap: 1rem;

		> label {
			--width: 7em;
			--min-height: 2.5rem;
			min-height: var(--min-height);
			line-height: var(--min-height);
			opacity: 0.75;
			min-width: var(--width);
			max-width: var(--width);
		}
	}
}

.fill-split-button {
	transition: max-width 0.2s ease-in-out;
}





.flex-column {
	display: flex;
}

.flex-row-center {
	@extend .flex;
	@extend .align-items-center;
}

.flex-row-stretch {
	@extend .flex;
	@extend .align-items-stretch;
}

.flex-col-center {
	@extend .flex;
	@extend .flex-column;
	@extend .align-items-center;
}

.flex-center-all {
	@extend .flex;
	@extend .align-items-center;
	@extend .justify-content-center;
}


.absolute-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg-contain {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.bg-cover {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}